$navBackgroundColor: #273859;
$hoverColor: #B0D1D9;
$mainBackgroundColor: #CEECF2;
$logoFontColor: #6593A6;
$linkTextColor: #6593A6;
$neonOne: rgb(86, 255, 30);
$neonTwo: rgb(163, 255, 204);

button {
    padding: 5px;
    margin: 10px;
    background-color: $navBackgroundColor;
    font-size: 15px;
    border: 2px solid $neonTwo;
    border-radius: 10px;
    color: $neonTwo;
    font-family: bangers;
    cursor: pointer;
}

button:hover {
    background-color: $hoverColor;
    color: $navBackgroundColor;
}

.searchInput {
    font-family: bangers;
    border-radius: 25px;
    color: $navBackgroundColor;
    padding:0 5 0 5;
}

#navbar {
    background: rgba(39, 56, 89, 0.2);
    box-shadow: 20px 20px 40px -12px rgb(86, 255, 30);
    backdrop-filter: blur(7.5px);
    border: solid 2px $neonTwo;

    color: $linkTextColor;
    height: 100px;
    border-radius: 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
}

#hamb {
    color: $neonOne;
}

#hamb:hover {
    text-decoration: none;
    color: $navBackgroundColor;
    background-color: $hoverColor;
}

.navbarIcon {
    font-size: 30px;
    color: $neonOne;
    border: solid 2px $neonTwo;

}

.navbarIcon:hover, .material-icons:hover {

    background-color: $hoverColor;
    color: $navBackgroundColor;
}

.navbarLink {
    color: $neonTwo;
    text-decoration: none;
    border-radius: 25px;
    font-family: bangers;
}

.navbarLink:hover {
    text-decoration: none;
    color: $navBackgroundColor;
    background-color: $hoverColor;
    border-radius: 25px;
}

#storeName {
    font-size: 25px;
    font-family: 'Rampart One', cursive;
    animation: text-flicker-in-glow 6s linear 5s both;
    color: $neonOne;
}

@media (max-width:570px) {
    #storeName {
        font-size: 30px;
    }
}

@media (max-width:490px) {
    #storeName {
        font-size: 20px;
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
        text-shadow: none;
    }

    10.1% {
        opacity: 1;
        text-shadow: none;
    }

    10.2% {
        opacity: 0;
        text-shadow: none;
    }

    20% {
        opacity: 0;
        text-shadow: none;
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }

    20.6% {
        opacity: 0;
        text-shadow: none;
    }

    30% {
        opacity: 0;
        text-shadow: none;
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    30.6% {
        opacity: 0;
        text-shadow: none;
    }

    45% {
        opacity: 0;
        text-shadow: none;
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    55.1% {
        opacity: 0;
        text-shadow: none;
    }

    57% {
        opacity: 0;
        text-shadow: none;
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }

    60.1% {
        opacity: 0;
        text-shadow: none;
    }

    65% {
        opacity: 0;
        text-shadow: none;
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    75.1% {
        opacity: 0;
        text-shadow: none;
    }

    77% {
        opacity: 0;
        text-shadow: none;
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    85.1% {
        opacity: 0;
        text-shadow: none;
    }

    86% {
        opacity: 0;
        text-shadow: none;
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

#logo {
    margin-left: 30px;
    animation: roll-in-left 5s ease-out both;
    color: $neonOne;
}

@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}