$navBackgroundColor: #273859;
$hoverColor: #B0D1D9;
$mainBackgroundColor: #CEECF2;
$logoFontColor: #6593A6;
$linkTextColor: #6593A6;
@import "_navBarTop.scss";
@import "_footerRadni.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif display flex;
}

html {
    height: 100%;
    display: flex;
    width: 100%;
    place-items: center;
}

body {
    background: rgb(39, 56, 89);
    background: linear-gradient(162deg, rgba(39, 56, 89, 0.9149250276282388) 15%, rgba(101, 147, 166, 0.8729082209055498) 45%, rgba(176, 209, 217, 0.8392947755273985) 65%, rgba(206, 236, 242, 1) 80%);
    background-image: url(rog-republic-of-gamers-logo-cyberpunk-uhdpaper.com-4K-3.3180.jpg);
    background-size: cover;
    background-repeat: round;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-blend-mode: soft-light;
    backdrop-filter: opacity(0.7);
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px $hoverColor;
    border-radius: 12px display flex;
    box-sizing: border-box;
    background: $mainBackgroundColor;
    box-shadow: 20px 20px 40px -12px $navBackgroundColor;
    backdrop-filter: blur(7.5px);
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid $hoverColor;
    color: $linkTextColor;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

.imgLogin {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid $hoverColor;
}

.bordert:after {
    position: absolute;
    top: -13px;
    left: 33%;
    background: $mainBackgroundColor;
    box-shadow: 20px 20px 40px -12px $navBackgroundColor;
    backdrop-filter: blur(7.5px);
    opacity: 0.7;
}

.wrapper .button {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.btn-primary {
    color: $mainBackgroundColor;
    background-color: $navBackgroundColor;
    border-color: $hoverColor;
}

.text-muted {
    color: whitesmoke;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}

#loginForma {
    box-shadow: 20px 20px 40px -12px $neonOne;
    backdrop-filter: blur(7.5px);

    border-radius: 25px;
    margin-top: 15px;
    font-size: 24px;
    height: 100%;
    font-family: bangers;
    color: $neonTwo;
    font-size: 28px;
}

 .panel {
    background: none;
    box-shadow: 20px 20px 40px -12px $neonOne;
    backdrop-filter: blur(7.5px);
    border-color: $neonTwo;
    border: solid 2px;

}