@import "_navBarTop.scss";
@import "_midSection.scss";
@import "_footer.scss";
$navBackgroundColor: #273859;
$hoverColor: #B0D1D9;
$mainBackgroundColor: #CEECF2;
$logoFontColor: #6593A6;
$linkTextColor: #6593A6;
$neonOne: rgb(86, 255, 30);
$neonTwo: rgb(163, 255, 204);
$btnFontSize:16px;

body {
    background: rgb(39, 56, 89);
    background: linear-gradient(162deg, rgba(39, 56, 89, 0.9149250276282388) 15%, rgba(101, 147, 166, 0.8729082209055498) 45%, rgba(176, 209, 217, 0.8392947755273985) 65%, rgba(206, 236, 242, 1) 80%);
    background-image: url(rog-republic-of-gamers-logo-cyberpunk-uhdpaper.com-4K-3.3180.jpg);
    background-size: fill;
    background-repeat: round;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-blend-mode: soft-light;
    backdrop-filter: opacity(0.7);
}

.material-icons.md-24 {
    font-size: 20px;
    color: #fff;

}